.data {
  color: blue;
}
.num{
  padding-top: 5px;
  margin-right: 50px;
  background-color: #443986;
  height: 30px;
  width: 12%;
  text-align: center;
  color: white;
  font-size: 13px;
}
.icon{
  color: white;
}
.about-section{
  width: 100%;
  height: 88vh;
}
.Home{
  width: 100%;
  height: 88vh;
  background-attachment: fixed;
  
}
.section-h5{
  position: absolute;
  padding-left: 5rem;
  top: 13rem;
  color: #443986;
  font-size: 17px;
}
.someh1{
  position: absolute;
  top: 250px;
  left: 130px;
  font-size: 45px;
}
.somepara{
  position: absolute;
  top: 340px;
  left: 10%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.p1{
  top: 380px;
}
.p2{
  top: 420px;
}
.p3{
  top: 460px;
}
.p4{
  top: 500px;
}
.icon1{
  color: green;
  margin-right: 5px;
}
.img{
  position: absolute;
  left: 52%;
  top: 64%;
  height: 150px;
  width: 150px;
}
.arrow{
  position: absolute;
  top: 72%;
  left: 61%;
  height: 40px;
}
.form{
  position: absolute;
  height: 450px;
  width: 30%;
  left: 65%;
  top: 25%;
  background-color: white;
}
#txt{
  width: 45%;
}
#txt2{
  width: 45%;
}
#mail{
  width: 93%;
}
#option{
  width: 93%;
  font-size: 15px;
}
#option2{
  width: 93%;
  font-size: 15px;
}
.btn1{
  width: 93%;
}
.section2{
  height: 125vh;
  width: 100%;
}
.heading{
  color: #022752;
  font-weight: 600;
  margin-top: 6%;
  margin-left: 11%;
}
.amount{
  position: absolute;
  height: 22%;
  width: 100%;
  right: 0px;
  margin-top: 20px;
  color: white;
  padding-left: 20px;
}
.clients{
  background-color: #f7f7f7;
  height: 115vh;
  width: 100%;
  
}
.cardimg{
  width: 120px;
  height: 120px;
  margin: auto;
  border: 1px solid black;
}
.map{
  height: 53vh;
  width: 100%;

}
.contact{
  height: 50vh;
}